/* css/styles.css */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    background-color: #f8f8f8;
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}


.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 5px;
    display: inline-block;
    border-radius: 50%;

  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-facebook{
    background: blue;
    color: white;
}