<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="{% static 'images/portfolio.jpg' %}"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1 class="text-light"><a href="index.html">Erick R.</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://www.facebook.com/haja2018" class="facebook"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/hajanirina-erick-r-7a9092204/"
          class="linkedin"
          ><i class="bx bxl-linkedin"></i
        ></a>
        <a href="https://github.com/ErickRandria" class="github"
          ><i class="bx bxl-github"></i
        ></a>
        <a href="mailto:hajjaerick@gmail.com" class="gmail"
          ><i class="bx bxl-gmail"></i
        ></a>
      </div>
    </div>

    <div class="navbar-container">
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active"
              ><i class="bx bx-home"></i> <span>Home</span></a
            >
          </li>
          <li>
            <a href="#about" class="nav-link scrollto"
              ><i class="bx bx-user"></i> <span>About</span></a
            >
          </li>
          <!-- <li><a href="#Facts" class="nav-link scrollto"><i class='bx bxs-face' ></i> <span>Facts</span></a></li> -->
          <!-- <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li> -->
          <li>
            <a href="#skills" class="nav-link scrollto"
              ><i class="bx bx-server"></i> <span>Skills</span></a
            >
          </li>
          <li>
            <a href="#portfolio" class="nav-link scrollto"
              ><i class="bx bx-server"></i> <span>Projects</span></a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto"
              ><i class="bx bx-envelope"></i> <span>Contact</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </div>
</header>
<!-- End Header -->
