{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills | My Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
            <a href="/skills/">Skills</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class = 'row'>
                <div class = 'col-md-6'>
                    <div class="card card-body h-100 border info">
                        <h1>Languages</h1>
                        <hr>
                        <ul>
                            <li> <strong>CSS</strong></li>
                        </ul> 
                    </div>
                </div>
                <br>
                <div class = 'col-md-6'>
                    <div class="card card-body h-100 border info">
                        <h1>Project 1: IBM DevOps Capstone Project</h1>
                        <p>
                            In this comprehensive Capstone project, you will showcase your DevOps and Software Engineering expertise by developing a secure, microservices-based application deployed on the Cloud. This project integrates the skills and techniques learned throughout the IBM DevOps Engineering Professional Certificate.
                        </p>
                        <h2>Key Components:</h2>
                        <ul>
                            <li><strong>Agile Planning:</strong> Develop a detailed Agile plan by creating user stories and a Kanban board using ZenHub and GitHub.</li>
                            <li><strong>Application Development:</strong> Build a RESTful microservice-based application using Flask, applying Test Driven Development (TDD) to ensure robust and reliable code.</li>
                            <li><strong>Continuous Integration and Deployment:</strong> Enhance the application with additional functionalities using Continuous Integration, and establish a seamless CI/CD pipeline for automated testing and deployment.</li>
                            <li><strong>Security and Deployment:</strong> Implement security best practices, and deploy the application on Cloud using Kubernetes, ensuring scalability and resilience.</li>
                            <li><strong>Monitoring and Improvement:</strong> Continuously monitor and enhance the application over multiple sprints.</li>
                        </ul>
                        <p>
                            This project represents the culmination of your learning journey in the IBM DevOps Engineering Professional Certificate, demonstrating your ability to apply advanced DevOps practices in a real-world scenario.
                        </p>
                        <p>
                            Explore the project on GitHub: <a href="https://github.com/ErickRandria/devops-capstone-project" target="_blank">GitHub Repository</a>
                        </p>  
                    </div>
                </div>
            </div>
            <br>
            <div class = 'row'>
                <div class = 'col-md-6'>
                    <div class="card card-body h-100 border info">
                        <h1>Project 1: IBM DevOps Capstone Project</h1>
                        <p>
                            In this comprehensive Capstone project, you will showcase your DevOps and Software Engineering expertise by developing a secure, microservices-based application deployed on the Cloud. This project integrates the skills and techniques learned throughout the IBM DevOps Engineering Professional Certificate.
                        </p>
                        <h2>Key Components:</h2>
                        <ul>
                            <li><strong>Agile Planning:</strong> Develop a detailed Agile plan by creating user stories and a Kanban board using ZenHub and GitHub.</li>
                            <li><strong>Application Development:</strong> Build a RESTful microservice-based application using Flask, applying Test Driven Development (TDD) to ensure robust and reliable code.</li>
                            <li><strong>Continuous Integration and Deployment:</strong> Enhance the application with additional functionalities using Continuous Integration, and establish a seamless CI/CD pipeline for automated testing and deployment.</li>
                            <li><strong>Security and Deployment:</strong> Implement security best practices, and deploy the application on Cloud using Kubernetes, ensuring scalability and resilience.</li>
                            <li><strong>Monitoring and Improvement:</strong> Continuously monitor and enhance the application over multiple sprints.</li>
                        </ul>
                        <p>
                            This project represents the culmination of your learning journey in the IBM DevOps Engineering Professional Certificate, demonstrating your ability to apply advanced DevOps practices in a real-world scenario.
                        </p>
                        <p>
                            Explore the project on GitHub: <a href="https://github.com/ErickRandria/devops-capstone-project" target="_blank">GitHub Repository</a>
                        </p>  
                    </div>
                </div>
                <br>
                <div class = 'col-md-6'>
                    <div class="card card-body h-100 border info">
                        <h1>Project 1: IBM DevOps Capstone Project</h1>
                        <p>
                            In this comprehensive Capstone project, you will showcase your DevOps and Software Engineering expertise by developing a secure, microservices-based application deployed on the Cloud. This project integrates the skills and techniques learned throughout the IBM DevOps Engineering Professional Certificate.
                        </p>
                        <h2>Key Components:</h2>
                        <ul>
                            <li><strong>Agile Planning:</strong> Develop a detailed Agile plan by creating user stories and a Kanban board using ZenHub and GitHub.</li>
                            <li><strong>Application Development:</strong> Build a RESTful microservice-based application using Flask, applying Test Driven Development (TDD) to ensure robust and reliable code.</li>
                            <li><strong>Continuous Integration and Deployment:</strong> Enhance the application with additional functionalities using Continuous Integration, and establish a seamless CI/CD pipeline for automated testing and deployment.</li>
                            <li><strong>Security and Deployment:</strong> Implement security best practices, and deploy the application on Cloud using Kubernetes, ensuring scalability and resilience.</li>
                            <li><strong>Monitoring and Improvement:</strong> Continuously monitor and enhance the application over multiple sprints.</li>
                        </ul>
                        <p>
                            This project represents the culmination of your learning journey in the IBM DevOps Engineering Professional Certificate, demonstrating your ability to apply advanced DevOps practices in a real-world scenario.
                        </p>
                        <p>
                            Explore the project on GitHub: <a href="https://github.com/ErickRandria/devops-capstone-project" target="_blank">GitHub Repository</a>
                        </p>  
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
</body>
</html>
